@model IEnumerable<Product>
@{
				ViewData["Title"] = "Index";
				Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table>
				<tr>
								<th>ID</th>
								<th>Produkt</th>
								<th>Cena</th>
								<th>Akcje</th>
				</tr>
				@foreach (var x in Model)
				{
								<tr>
												<td>@x.Category</td>
												<td>@x.Name</td>
												<td>@x.Description</td>
												<td>@x.Price.ToString("c")</td>
												<td>
																<form asp-action="Delete" method="post">
																				<a asp-action="Edit" asp-route-Id="@x.Id">
																								Edytuj
																				</a>
																				<input type="hidden" name="ID" value="@x.Id" />
																				<button type="submit">
																								Usuń
																				</button>
																</form>
												</td>
								</tr>
				}
</table>
<div class="text-center">
				<a asp-action="Create">Dodaj produkty</a>
</div>
